<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Frequently Asked Questions</h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>What am I paying for?</summary>
          <p>You are paying to build a farm in Africa <a href="https://www.hubciti.com">Click here for more info</a>.
          <br />
          <br />
          Village of Kyaka and Dar es Salaam</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Choo choo shoe</summary>
          <p>That's right</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Other stuff</summary>
          <p>Put your own farm text here</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Guys, we have to write a text</summary>
          <p>Write it here
          </p>
        </details>
      </li>
    </ul>
    <ul class='col2'>
      <li>
        <details class=''>
          <summary>How many points are there</summary>
          <p>It is 8 in total
          <br />
          <br />
          Yeap!</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary>Almost there</summary>
          <p>There we go!</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary class=''>What software stack does this use?</summary>
          <p>It's a Ruby on Rails app that makes heavy use of SCSS, Kickstarter's wonderful <code>amazon_flex_pay</code> gem, and a hint of CoffeeScript.</p>
        </details>
      </li>

    </ul>
  </div>
</div>
