<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        What is Tomatoes in Africa?
      </h3>
      <p>
        Tomatoes in Africa is a project to build a farm in Africa. A farm you will contribute to</a>.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        Decide and help
      </h3>
      <p>
        Tomatoes in Africa lets you decide how the farm will develop. You will be a part of the online community who will contribute to the solutions of the problems on the ground
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        People on the ground
      </h3>
      <p>
        You will get to know and interact with the people on the ground. Help them and see how their lives develop while working on the farm
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        Community online
      </h3>
      <p>
        Community online will be able to follow the progress and discuss any problems arising
      <p>
    </div>
  </div>
</div>
